<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.password">szervizpw98</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:4040/szervizdb</property>
        <property name="hibernate.connection.username">szervizuser</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hbm2dll.auto">none</property>
        <property name="show_sql">true</property>
    </session-factory>
</hibernate-configuration>
